<div class="fixed-menu">
    <div class="fixed-links">
      <div class="close">
        <i class="fa-solid fa-xmark"></i>
      </div>
      <a href="/" class="link">Home</a>
      <a class="link prop-drop">General Information<i class="fa-solid fa-caret-down"></i></a>
      <div class="mobile-drop" style="display: none;">
        <a class="" href="/About">About</a>
        <a href="/Agenda" class="">Agenda</a>
        <a class="" href="/Topics">Topics</a>
        <a class="" href="/Committees">Committees</a>
        <a class="" href="/wie">wie</a>
        <a class="" href="/Sponsers">Sponsers</a>
      </div>
      <a class="link prop-drop">Author<i class="fa-solid fa-caret-down"></i></a>
      <div class="mobile-drop" style="display: none;">
        <a class="" href="/Author_Instruc">Instructions</a>
        <a class="" href="/Register">Register</a>
        <a class="" href="/Grats">Grats</a>
        <a class="" href="/Awards">Awards</a>
      </div>
      <a class="link prop-drop">Visitor Information<i class="fa-solid fa-caret-down"></i></a>
      <div class="mobile-drop" style="display: none;">
        <a class="" href="/Venue">Venue</a>
        <a class="" href="/Hotel">Hotel</a>
        <a class="" href="/Visa">Visa</a>
        <a class="" href="" onclick="window.open('ConferenceTripsPlus.pdf', '_blank')">Social Activites</a>
      </div>
      <a class="link prop-drop">Exhibition<i class="fa-solid fa-caret-down"></i></a>
      <div class="mobile-drop" style="display: none;">
        <a class="" href="/Exhibition">Why?</a>
        <a class="" href="/Sponsers-Levels">Levels of Sponsers</a>
      </div>
      <a class="link prop-drop">Call for Proposals<i class="fa-solid fa-caret-down"></i></a>
      <div class="mobile-drop" style="display: none;">
        <a class="" href="/Focus-sessions">Focus sessions</a>
        <a class="" href="/Special-sessions">Special sessions</a>
        <a class="" href="/Tutorials-Short-Courses">Tutorials & Short Courses</a>
        <a class="" href="/Technical-Lectures">Technical Lectures</a>
      </div>
      <a class="link prop-drop">Call for Posters<i class="fa-solid fa-caret-down"></i></a>
      <div class="mobile-drop" style="display: none;">
        <a class="" href="" onclick="window.open('CallForPosters-GRAD.pdf', '_blank')">Graduate</a>
        <a class="" href="" onclick="window.open('CallForPosters-UNDERGRAD.pdf', '_blank')">Undergraduate</a>
      </div>
      <a class="link" href="/Workshops">Workshops</a>
      <a href="/Contact-Us" class="link">Contact-Us</a>
      <button class="btn btn-ieee" onclick="window.open('CFP.pdf', '_blank')">Download CFP</button>
    </div>
  </div>
  <!-- main header -->
  <div id="carouselExampleCaptions" class="header-other" data-ride="carousel">
    <div class="">

      <div class="header-body">
        <div class="container-fluid header-new">
          <div>
            <div class="row">
              <div class="col-lg-12 text-lg-center col-xl-1 col-6 brand-cont">
                <div class="brand" data-aos="slide-right">
                  <a href="/"><img src="/imgs/logo/logo.png"></a>
                </div>
              </div>
              <div class="col-lg-12 col-xl-11 col-6 text-lg-center text-xl-right links-cont">
                <div class="links" data-aos="fade-in">
                  <div class="dropdown d-inline-block">
                    <a href="#" class="link hvr-overline-from-center dropdown-toggle" id="props"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      General Info...
                    </a>
                    <div class="dropdown-menu header-drop-links" aria-labelledby="props">
                      <a class="dropdown-item" href="/About">About</a>
                      <a class="dropdown-item" href="/Agenda">Agenda</a>
                      <a class="dropdown-item" href="/Topics">Topics</a>
                      <a class="dropdown-item" href="/Committees">Committees</a>
                      <a class="dropdown-item" href="/wie">wie</a>
                      <a class="dropdown-item" href="/Sponsers">Sponsers</a>
                    </div>
                  </div>
                  <div class="dropdown d-inline-block">
                    <a href="#" class="link hvr-overline-from-center dropdown-toggle" id="props"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Author
                    </a>
                    <div class="dropdown-menu header-drop-links" aria-labelledby="props">
                      <a class="dropdown-item" href="/Author_Instruc">Instructions</a>
                      <a class="dropdown-item" href="/Register">Register</a>
                      <a class="dropdown-item" href="/Grants">Grants</a>
                      <a class="dropdown-item" href="/Awards">Awards</a>
                    </div>
                  </div>
                  <div class="dropdown d-inline-block">
                    <a href="#" class="link hvr-overline-from-center dropdown-toggle" id="props"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Visitor Info...
                    </a>
                    <div class="dropdown-menu header-drop-links" aria-labelledby="props">
                      <a class="dropdown-item" href="/Venue">Venue</a>
                      <a class="dropdown-item" href="/Hotel">Hotel</a>
                      <a class="dropdown-item" href="/Visa">Visa</a>
                      <a class="dropdown-item" href="" onclick="window.open('ConferenceTripsPlus.pdf', '_blank')">Social
                        Activites</a>
                    </div>
                  </div>
                  <div class="dropdown d-inline-block">
                    <a href="#" class="link hvr-overline-from-center dropdown-toggle" id="props"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Exhibition
                    </a>
                    <div class="dropdown-menu header-drop-links" aria-labelledby="props">
                      <a class="dropdown-item" href="/Exhibition">Why?</a>
                      <a class="dropdown-item" href="/Sponsers-Levels">Levels of Sponsers</a>
                    </div>
                  </div>
                  <div class="dropdown d-inline-block">
                    <a href="#" class="link hvr-overline-from-center dropdown-toggle" id="props"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Call for Proposals
                    </a>
                    <div class="dropdown-menu header-drop-links" aria-labelledby="props">
                      <a class="dropdown-item" href="/Focus-sessions">Focus sessions</a>
                      <a class="dropdown-item" href="/Special-sessions">Special sessions</a>
                      <a class="dropdown-item" href="/Tutorials-Short-Courses">Tutorials & Short Courses</a>
                      <a class="dropdown-item" href="/Technical-Lectures">Technical Lectures</a>
                    </div>
                  </div>
                  <div class="dropdown d-inline-block">
                    <a href="#" class="link hvr-overline-from-center dropdown-toggle" id="props"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Call for posters
                    </a>
                    <div class="dropdown-menu header-drop-links" aria-labelledby="props">
                      <a class="dropdown-item" href="" onclick="window.open('CallForPosters-GRAD.pdf', '_blank')">Graduate</a>
                      <a class="dropdown-item" href="" onclick="window.open('CallForPosters-UNDERGRAD.pdf', '_blank')">Undergraduate</a>
                    </div>
                  </div>
                  <a href="/Workshops" class="link hvr-overline-from-center">Workshops</a>
                  <a href="/Contact-Us" class="link hvr-overline-from-center">Contact-Us</a>
                  <br class="d-lg-block d-xl-none">
                  <button class="btn btn-ieee" onclick="window.open('CFP.pdf', '_blank')">Download CFP</button>
                </div>
                <div class="to-links">
                  <div class="to-links-box">
                    <i class="fa-solid fa-bars"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </button>
  </div>