<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Help</title>
  <meta
    content="IEEE R8 NASYP is a congress held to allow the exchange of expertise between students and young professionals from all over North Africa, as it will provide a unique experience to witness fine networking."
    name="description">
  <meta content="IEEE,NASYP,R8,North Africa,Egypt,EUI" name="keywords">

  <!-- Favicons -->
  <link href="img/logo/logo.png" rel="icon">
  <link href="img/logo/logo.png" rel="apple-touch-icon">
  <link rel="icon" href="img/logo/logo.png">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="#hero"><img src="img/logo/H_Yellow_White.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/#about">About</a></li>
          <li><a class="nav-link scrollto" href="/#services">Location</a></li>
          <li><a class="nav-link scrollto " href="/#portfolio">Venue</a></li>
          <li><a class="nav-link scrollto" href="/#faq">FAQ</a></li>
          <li><a class="nav-link scrollto" href="/#team">Team</a></li>
          <li><a class="nav-link scrollto" href="/#sponsor">Sponsors</a></li>
          <li><a class="nav-link scrollto" href="/#partners">Partners</a></li>
          <li class="dropdown"><a href="#"><span>Program</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/speakers">Speakers</a></li>
              <li class="dropdown"><a href="/program"><span>program</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/program#Day1">Day 1</a></li>
                  <li><a href="/program#Day2">Day 2</a></li>
                  <li><a href="/program#Day3">Day 3</a></li>
                  <li><a href="/program#Day4">Day 4</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown"><a href="#" style="
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 12px 32px;
            border-radius: 50px;
            transition: 0.5s;
            line-height: 1;
            margin: 10px;
            animation-delay: 0.8s;
            border: 2px solid #FBB725;
        "><span>Registraion</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/registration" target="_blank">Register Now</a></li>
              <li><a class="active" href="/payment-details">Payment Details</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">

    <div class="carousel-container">
      <h2 class="animate__animated animate__fadeInDown">Help</h2>
      <p class="animate__animated fanimate__adeInUp"> </p>
      <a href="#help" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
    </div>


    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= help Section ======= -->
    <section id="help" class="speaker">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Help</h2>
          <p>Details</p>
        </div>  
  
          <div style="text-align: center;">  
            <b>Here you can find our Program<br></b>
            <a href="/program"><img src="img/help/program.png" width="25%" alt="program" /></a><br>
            <b>Press at the program icon</b>
          </div>  
    
          <div style="text-align: center; margin-top: 30px;">
            <b>Here you can find our Whatsapp group<br></b>
            <a href="https://chat.whatsapp.com/Ck6nwgbLwlYC97vh8puR1J"><img src="img/help/whatsapp.png" width="23%" alt="whatsapp" /></a><br>
            <b>Press at the whatsapp icon</b>
          </div>   

    </section><!-- End help Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>IEEE Region 8 NASYP</h3>
      <p>IEEE R8 NASYP, or IEEE Region 8 North Africa Student and Young Professional Congress, gathers all IEEE members
        from various North African nationalities to celebrate the various cultures and shine a light on the differences
        over the course of four days.</p>
      <div class="social-links">
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
        <a href="https://www.facebook.com/IEEER8NASYP/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <!-- <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
      </div>
      <div class="credits">
        <a href="mailto: info.nasyp@ieee.org.eg">info.nasyp@ieee.org.eg</a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>IEEE YP Egypt section</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>