<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="imgs/logo/">

  <title>NASYP</title>

  <style>
    @font-face {
    font-family: outfit-black;
    src: url('/fonts/outfit/Outfit-Black.ttf');

    font-family: outfit;
    src: url('/fonts/outfit/Outfit-Regular.ttf');
    }

    * {
      font-family: outfit;
      transition: .5s all;
      text-align: center !important;
      margin: auto !important;
    }

    body {
      padding: 30vh 10vw 30vh 10vw;
      background-color: #0d004c;
    }
    
    p{
      /* font-family: outfit-black; */
      font-size: 7em;;
      color: #fbb725;
    }

    #text_block-40-9 {
    background-color: #fbb725;
    color: #0d004c;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 99px;
    width: 10%;
    margin-bottom: 20px;
    margin-top: 20px;
    }
  </style>

</head>

<body>
  <p>We are ready!</p>
  <p>Are You?</p>
  <div id="text_block-40-9" class="ct-text-block"><span id="span-87-85" class="ct-span">NASYP 2023</span></div>
</body>

</html>