<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>IEEE Region 8 NASYP</title>
  <meta
    content="IEEE R8 NASYP is a congress held to allow the exchange of expertise between students and young professionals from all over North Africa, as it will provide a unique experience to witness fine networking."
    name="description">
  <meta content="IEEE,NASYP,R8,North Africa,Egypt,EUI" name="keywords">

  <!-- Favicons -->
  <link href="img/logo/logo.png" rel="icon">
  <link href="img/logo/logo.png" rel="apple-touch-icon">
  <link rel="icon" href="img/logo/logo.png">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="#hero"><img src="img/logo/H_Yellow_White.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar navbar-expand-lg">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Location</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Venue</a></li>
          <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#sponsor">Sponsors</a></li>
          <li><a class="nav-link scrollto" href="#partners">Partners</a></li>
          <li class="dropdown"><a href="#"><span>Program</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/speakers">Speakers</a></li>
              <!-- <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li> -->
            </ul>
          </li>
          <li class="dropdown"><a href="#" style="
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 12px 32px;
            border-radius: 50px;
            transition: 0.5s;
            line-height: 1;
            margin: 10px;
            animation-delay: 0.8s;
            border: 2px solid #FBB725;
        "><span>Registraion</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/registration" target="_blank">Register Now</a></li>
              <li><a href="/payment-details">Payment Details</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <video autoplay muted loop id="bg-video">
      <source src="video/RenderComp 1.mp4" type="video/mp4">
    </video>
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to IEEE R8 NASYP Egypt 2023</h2>
          <p class="animate__animated fanimate__adeInUp">The SYP is always a place to share knowledge and get to know
            more about IEEE from all over the world!</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Exchange knowledge from all the region 8!</h2>
          <p class="animate__animated animate__fadeInUp">As in NASYP you will get the experience to meet up with
            students and young professionals from all over the region to share and connect with you experiences.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto" target="_blank">Read
            More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Registraion form is open!</h2>
          <p class="animate__animated animate__fadeInUp">Register now from here</p>
          <a href="/registration" class="btn-get-started animate__animated animate__fadeInUp scrollto">Register Now</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>About</h2>
          <p>What is NASYP?</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              IEEE R8 NASYP is a congress held to allow the exchange of expertise between students and young
              professionals from all over North Africa, as it will provide a unique experience to witness fine
              networking.
            </p>
            <!-- <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul> -->
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              The congress will take place in Egypt, at the Heart of the Knowledge City at the New Administrative
              Capital in the Egypt University of Informatics (EUI)...
            </p>
            <a class="btn-learn-more" href="#faq">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <ul class="nav nav-tabs row d-flex" style="justify-content: center;">
          <li class="nav-item col-3" data-aos="zoom-in">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
              <h4 class="tabs-text">IEEE Region 8</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
              <h4 class="tabs-text">IEEE Egypt Section</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
              <h4 class="tabs-text">IEEE YP Egypt Section</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
              <h4 class="tabs-text">Egypt University of Informatics</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content" data-aos="fade-up">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Our Region !</h3>
                <p class="fst-italic">
                  IEEE Region 8 is a region of the Institute of Electrical and Electronics Engineers, covering Europe,
                  the Middle East, and Africa. It is one of ten regions established by IEEE to serve its members around
                  the world.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> IEEE Region 8 is the largest region in IEEE. with over 60,000
                    members.</li>
                  <li><i class="ri-check-double-line"></i> The region is divided into 57 sections.</li>
                </ul>
                <p>
                  The region organizes a variety of events, including conferences, workshops, and seminars, where
                  members can share their research and expertise, and learn about the latest advances in the field.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="img/R8.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>IEEE Egypt Section</h3>
                <p class="fst-italic">
                  The 119th IEEE Region 8 Committee Meeting Saturday 15 October 2022 to Sunday 16 October 2022 was held
                  in Egypt by IEEE Egypt Section
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> The 119th IEEE Region 8 Committee Meeting Saturday 15 October
                    2022 to Sunday 16 October 2022 was held in Egypt by IEEE Egypt Section.</li>
                  <li><i class="ri-check-double-line"></i> Also, IEEE Circuits and Systems (CAS) Egypt chapter was
                    selected to receive the 2023 IEEE Circuits and Systems Regional Chapter-of-the Year Award: Region 8.
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="img/egyptSec.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>IEEE YP Egypt</h3>
                <p class="fst-italic">
                  IEEE Young professionals Egypt is the bridge that connects the IEEE students with the young
                  professionals to help them develop their careers and enhance their volunteering experience in the IEEE
                  community.
                </p>
                <p>
                  YP Egypt organizes several important events, some of them are remarkable for 20 years like The
                  Egyptian Engineering Day, NASA Space Apps Cairo, Made in Egypt, Volunteers Empowerment Program and the
                  Egyptian Students and Young Professionals Congress.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="img/yp-egypt.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Egypt University of Informatics</h3>
                <p class="fst-italic">
                  At the Heart of the Knowledge City at the New Administrative
                  Capital, The Ministry of Communications and Information Technology established Egypt University of
                  Informatics (EUI), in collaboration with the Ministry of Higher Education and Scientific Research, to
                  be one of the first specialized universities in Communications and Information Technology and their
                  affected fields across the Middle East and Africa. <a href="#services">location</a>
                </p>
                <p>
                <ul>
                  <li><i class="ri-check-double-line"></i> EUI has four faculties: Computing and Information Sciences,
                    Engineering, Business Informatics, Digital Arts, and Design. EUI offers technology-oriented,
                    multi-disciplinary, and inter-professional programs, focusing on emerging technologies, business and
                    market needs, and their applied related areas and disciplines.</li>
                  <li><i class="ri-check-double-line"></i> EUI attracted distinguished faculty members in challenging
                    fields with long international experience in teaching and scientific research. The administrative
                    structure was carefully selected at the highest standards. Egyptian and international experts
                    designed
                    academic courses in Digital Marketing, AI, Cyber Security, Data Science and Engineering,
                    Mechatronics
                    and Robotics, Electronics and Communications, Business Analytics, Animation Arts, User Experience
                    (UX), and Game Design.</li>
                </ul>
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="img/eui.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta" style="background-image: url('img/FormCover.jpg');">
      <div class="container">


        <div class="row" data-aos="zoom-out">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 id="headline">Event Countdown</h3>
            <div id="countdown">
              <ul>
                <li><span id="days"></span>days</li>
                <li><span id="hours"></span>Hours</li>
                <li><span id="minutes"></span>Minutes</li>
                <li><span id="seconds"></span>Seconds</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="/registration" target="_blank">Register Now</a>
          </div>
        </div>



      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Location</h2>
          <a href="https://eui.edu.eg/">
            <p>Egypt University of Informatics (EUI), Egypt</p>
          </a>
        </div>
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.509356004246!2d31.70802549999999!3d30.022241700000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1457f5240825b535%3A0x48830dee00588b3d!2z2KzYp9mF2LnYqSDZhdi12LEg2YTZhNmF2LnZhNmI2YXYp9iq2YrYqSAtIEVVSSBFZ3lwdCBVbml2ZXJzaXR5IG9mIEluZm9ybWF0aWNz!5e0!3m2!1sen!2seg!4v1682699507128!5m2!1sen!2seg"
            width="100%" height="100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
            style="border: 0px;"></iframe>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Speakers Section ======= -->
    <section id="speakers" class="speakers">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Speakers</h2>
          <p>Our Speakers</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch swiper mySwiper">

            <div class=" swiper-wrapper" data-aos="fade-up">

              <div class="flip swiper-slide">
                <div class="front" style="background-image: url(/img/speakers/President.jpg); height:500px">
                </div>
                <div class="back" style="height: 500px;">
                  <h2 style="padding-top:90px">Professor Saifur Rahman</h2>
                  <a href="/speakers#Saifur" class="btn-get-started animate__animated animate__fadeInUp scrollto ">Read
                    More</a>
                </div>
              </div>

              <div class="flip swiper-slide">
                <div class="front" style="background-image: url(/img/speakers/El-Dlal.jpg); height:500px">
                </div>
                <div class="back" style="height: 500px;">
                  <h2 style="padding-top:90px">Mohamed El Dallal</h2>
                  <a href="/speakers#El-Dlal" class="btn-get-started animate__animated animate__fadeInUp scrollto ">Read
                    More</a>
                </div>
              </div>

              <div class="flip swiper-slide">
                <div class="front" style="background-image: url(/img/speakers/mainSpeaker.jpg); height:500px">
                </div>
                <div class="back" style="height: 500px;">
                  <h2 style="padding-top:90px">Prof. Mike Hinchey</h2>
                  <a href="/speakers#Mike" class="btn-get-started animate__animated animate__fadeInUp scrollto ">Read
                    More</a>
                </div>
              </div>

              <div class="flip swiper-slide">
                <div class="front" style="background-image: url(/img/speakers/second.png); height:500px">
                </div>
                <div class="back" style="height: 500px;">
                  <h2 style="padding-top:90px">Eng. Abdullateef</h2>
                  <a href="/speakers#Abdullateef"
                    class="btn-get-started animate__animated animate__fadeInUp scrollto ">Read More</a>
                </div>
              </div>

              <div class="flip swiper-slide">
                <div class="front" style="background-image: url(/img/speakers/Mohamed_Amin.jpg); height:500px">
                </div>
                <div class="back" style="height: 500px;">
                  <h2 style="padding-top:90px">Eng. Mohamed Amin</h2>
                  <a href="/speakers#Mohamed_Amin"
                    class="btn-get-started animate__animated animate__fadeInUp scrollto ">Read More</a>
                </div>
              </div>

              <div class="flip swiper-slide">
                <div class="front" style="background-image: url(/img/speakers/third.jpg); height:500px">
                </div>
                <div class="back" style="height: 500px;">
                  <h2 style="padding-top:90px">Khaldoun Taktak</h2>
                  <a href="/speakers#Khaldoun"
                    class="btn-get-started animate__animated animate__fadeInUp scrollto ">Read More</a>
                </div>
              </div>

              <div class="flip swiper-slide">
                <div class="front" style="background-image: url(/img/speakers/fourth.jpg); height:500px">
                </div>
                <div class="back" style="height: 500px;">
                  <h2 style="padding-top:90px">Vildana</h2>
                  <a href="/speakers#Vildana" class="btn-get-started animate__animated animate__fadeInUp scrollto ">Read
                    More</a>
                </div>
              </div>

              <div class="flip swiper-slide">
                <div class="front" style="background-image: url(/img/speakers/fifth.jpg); height:500px">
                </div>
                <div class="back" style="height: 500px;">
                  <h2 style="padding-top:90px">Eng. Seif El HAJJEM</h2>
                  <a href="/speakers#Seif" class="btn-get-started animate__animated animate__fadeInUp scrollto ">Read
                    More</a>
                </div>
              </div>

              <div class="flip swiper-slide">
                <div class="front" style="background-image: url('/img/speakers/Heba Shaban.jpg'); height:500px">
                </div>
                <div class="back" style="height: 500px;">
                  <h2 style="padding-top:90px">Heba Shaban</h2>
                  <a href="/speakers#HebaShaban" class="btn-get-started animate__animated animate__fadeInUp scrollto ">Read
                    More</a>
                </div>
              </div>

              <div class="flip swiper-slide">
                <div class="front" style="background-image: url(/img/speakers/Hatem.jpg); height:500px">
                </div>
                <div class="back" style="height: 500px;">
                  <h2 style="padding-top:90px">Eng. Mohamed Hatem</h2>
                  <a href="/speakers#Hatem" class="btn-get-started animate__animated animate__fadeInUp scrollto ">Read
                    More</a>
                </div>
              </div>


            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination" style="bottom: -6px;"></div>


          </div>

        </div>

      </div>
    </section><!-- End Speakers Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Venue</h2>
          <p>Egypt</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-cairo">Cairo</li>
          <li data-filter=".filter-giza">Giza</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-cairo">
            <div class="portfolio-img"><img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Cairo</h4>
              <p>Cairo Tower</p>
              <!-- <a href="img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="cairo 1"><i class="bx bx-plus"></i></a> -->
              <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-giza">
            <div class="portfolio-img"><img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Giza</h4>
              <p>Pyramids</p>
              <!-- <a href="img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="cairo 2"><i class="bx bx-plus"></i></a> -->
              <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-cairo">
            <div class="portfolio-img"><img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Cairo</h4>
              <p>Citadel of Saladin</p>
              <!-- <a href="img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="cairo 2"><i class="bx bx-plus"></i></a> -->
              <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-cairo">
            <div class="portfolio-img"><img src="img/portfolio/portfolio-4.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Cairo</h4>
              <p>The Egyptian Museum in Cairo</p>
              <!-- <a href="img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="cairo 2"><i class="bx bx-plus"></i></a> -->
              <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-giza">
            <div class="portfolio-img"><img src="img/portfolio/portfolio-5.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Giza</h4>
              <p>Grand Egyptian Museum</p>
              <!-- <a href="img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="cairo 2"><i class="bx bx-plus"></i></a> -->
              <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-giza">
            <div class="portfolio-img"><img src="img/portfolio/portfolio-6.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Giza</h4>
              <p>Sphinx</p>
              <!-- <a href="img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="cairo 2"><i class="bx bx-plus"></i></a> -->
              <!-- <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a> -->
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">What is the NASYP? <i
                class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                The NASYP is a congress for students and young professionals that will gather IEEE members from six
                countries: Egypt, Libya, Sudan, Algeria, Tunisia, and Morocco.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">When and where will the NASYP be
              held? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                The NASYP will be held from the 24th to the 27th of August in Egypt.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Which university is hosting the
              NASYP? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                The Egypt University of Informatics (EUI) will be hosting the IEEE R8 NASYP at the New Administrative
                Capital.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">What should I do if I have inquiries?
              <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
            </div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                You can email us at <a href="mailto: info.nasyp@ieee.org.eg">info.nasyp@ieee.org.eg</a> or send us a
                message on our <a href="https://www.facebook.com/IEEER8NASYP/">Facebook page</a>.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Team</h2>
          <p>Our Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch swiper mySwiper">

            <div class=" swiper-wrapper" data-aos="fade-up">

              <div class="member-img swiper-slide">
                <img src="img/team/Chairman.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/vice-Chairman.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/General Secretary.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/program Officer.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/Webmaster Office.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/Participants Affairs Manager.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/branding manager.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/operation manager.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/design Head.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/Marketing Head.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/Photography Head.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/Accommodation Head.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/Meals head.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/OC Head.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/Registration Head.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/Social Activities Head.webp" class="img-fluid" alt="">
              </div>

              <div class="member-img swiper-slide">
                <img src="img/team/Transportation Head.webp" class="img-fluid" alt="">
              </div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination" style="bottom: -6px;"></div>


          </div>

        </div>

      </div>
    </section><!-- End Team Section -->


    <!-- ======= Sponsor Section ======= -->
    <section id="sponsor" class="sponsor">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Sponsors</h2>
          <p>Our Sponsors</p>
        </div>

        <div style="text-align-last: justify;">
          <img src="img/sponsors\IEEE_Students_logo.png" width="20%" alt="sponsor" />
          <img src="img/sponsors\IEEE-Africa-Council-Colored.png" width="20%" alt="sponsor" />
          <img src="img/sponsors\IEEE-CS_LogoTM-orange.png" width="20%" alt="sponsor" />
        </div>

      </div>
    </section><!-- End Sponsor Section -->

    <!-- ======= Partners Section ======= -->
    <section id="partners" class="partners">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Partners</h2>
          <p>Our Partners</p>
        </div>

        <div style="text-align-last: justify;">
          <img src="img/R8.png" width="20%" alt="sponsor" />
          <img src="img/partners/partner1.png" width="20%" alt="sponsor" />
          <img src="img/partners/partner2.png" width="20%" alt="sponsor" />
        </div>

      </div>
    </section><!-- End Partners Section -->




  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>IEEE Region 8 NASYP</h3>
      <p>IEEE R8 NASYP, or IEEE Region 8 North Africa Student and Young Professional Congress, gathers all IEEE members
        from various North African nationalities to celebrate the various cultures and shine a light on the differences
        over the course of four days.</p>
      <div class="social-links">
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
        <a href="https://www.facebook.com/IEEER8NASYP/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <!-- <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
      </div>
      <div class="credits">
        <a href="mailto: info.nasyp@ieee.org.eg">info.nasyp@ieee.org.eg</a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>IEEE YP Egypt section</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>
  <script>
    var w = window.innerWidth;
    const count = w <= 425 ? 2 : 4
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: count,
      spaceBetween: 0,
      grabCursor: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      },
      autoplay: {
        delay: 4000,
        disableOnInteraction: false
      },

    });
  </script>
</body>

</html>