<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Speakers</title>
  <meta
    content="IEEE R8 NASYP is a congress held to allow the exchange of expertise between students and young professionals from all over North Africa, as it will provide a unique experience to witness fine networking."
    name="description">
  <meta content="IEEE,NASYP,R8,North Africa,Egypt,EUI" name="keywords">

  <!-- Favicons -->
  <link href="img/logo/logo.png" rel="icon">
  <link href="img/logo/logo.png" rel="apple-touch-icon">
  <link rel="icon" href="img/logo/logo.png">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="#hero"><img src="img/logo/H_Yellow_White.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/#about">About</a></li>
          <li><a class="nav-link scrollto" href="/#services">Location</a></li>
          <li><a class="nav-link scrollto " href="/#portfolio">Venue</a></li>
          <li><a class="nav-link scrollto" href="/#faq">FAQ</a></li>
          <li><a class="nav-link scrollto" href="/#team">Team</a></li>
          <li><a class="nav-link scrollto" href="/#sponsor">Sponsors</a></li>
          <li><a class="nav-link scrollto" href="/#partners">Partners</a></li>
          <li class="dropdown"><a href="#"><span>Program</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/speakers">Speakers</a></li>
              <li class="dropdown"><a href="/program"><span>program</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/program#Day1">Day 1</a></li>
                  <li><a href="/program#Day2">Day 2</a></li>
                  <li><a href="/program#Day3">Day 3</a></li>
                  <li><a href="/program#Day4">Day 4</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown"><a href="#" style="
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 12px 32px;
            border-radius: 50px;
            transition: 0.5s;
            line-height: 1;
            margin: 10px;
            animation-delay: 0.8s;
            border: 2px solid #FBB725;
        "><span>Registraion</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/registration" class="active" target="_blank">Register Now</a></li>
              <li><a href="/payment-details">Payment Details</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <video autoplay muted loop id="bg-video">
      <source src="video/RenderComp 1.mp4" type="video/mp4">
    </video>

    <div class="carousel-container">
      <h2 class="animate__animated animate__fadeInDown">Speakers</h2>
      <p class="animate__animated fanimate__adeInUp">The main speakers in our event and an intro </p>
      <a href="#speakers" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
    </div>


    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Speakers Section ======= -->
    <section id="speakers" class="speaker">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Speakers</h2>
          <p>Who are our speakers?</p>
        </div>

        <h3 data-aos="zoom-out" class="text-center mb-3">Main Speakers</h3>

        <div class="row flex-column-reverse flex-lg-row text-center text-lg-start content align-items-center"
          data-aos="fade-up" id="Saifur">
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p style="font-size: 24px;">
              Professor Saifur Rahman is the 2023 IEEE President & CEO. He is the
              founding editor-in-chief of the IEEE Electrification Magazine and the IEEE Transactions on Sustainable
              Energy. He has published more than 160 journal papers and has made more than 500 conferences and invited
              presentations. His h-index is 63, with over 19,000 citations.
            </p>
            <p style="font-size: 24px;">
              In 2006, he served on the IEEE Board of Directors as the Vice President for Publication Services and
              Products. He is a distinguished lecturer for IEEE PES and has lectured on renewable energy, energy
              efficiency, smart grid, energy internet, blockchain, and IoT sensor integration in more than 30 countries.
              He is the founding director of the Advanced Research Institute at Virginia Tech, USA, where he is the
              Joseph R. Loring Professor of Electrical and Computer Engineering. He also directs the Center for Energy
              and the Global Environment at the university. He is a Life Fellow of IEEE and an IEEE Millennium Medal
              winner. He was the president of the IEEE Power and Energy Society (PES) in 2018 and 2019.
            </p>
          </div>
          <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/speakers/SaifurRahman.webp" class="speaker-image" />
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="row flex-column flex-lg-row text-center text-lg-start content align-items-center" data-aos="fade-up"
          id="El-Dlal">
          <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/speakers/El-Dlal.webp" class="speaker-image" />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 center">
            <p style="font-size: 24px;">
              Mohamed El Dallal is currently Vice president for IEEE Entrepreneurship Global committee. a Global Shaper
              Alumni an initiative from the world economic forum, as well as member of the Egyptian junior business
              association (EJB).
            </p>
            <p style="font-size: 24px;">
              Earning his BSc degree - Computer & Communication Engineering, MBA holder specialized in International
              Business, a researcher in the digital marketing field, currently doing his DBA specialized in
              Entrepreneurship.
              He has conducted hundreds of talks/Panels /workshops at 25+ countries about his Entrepreneurship,
              Marketing, business developments.
            </p>
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="row flex-column-reverse flex-lg-row text-center text-lg-start content align-items-center"
          data-aos="fade-up" id="Mike">
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p style="font-size: 24px;">
              Prof. Mike Hinchey is the Head of the Department of Computer Science and Information Systems at the
              University of Limerick, Ireland, and the Emeritus Director of Lero, the Science Foundation Ireland Centre
              for Software.

            </p>
            <p style="font-size: 24px;">
              He has held influential roles in IFIP and NASA, and his extensive editorial and leadership contributions
              have garnered international recognition. Additionally, he has been elected to various positions within
              IEEE, including Chair of the IEEE Global Public Policy Committee and the IEEE Region 8 Director Elect.

            </p>
          </div>
          <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/speakers/mainSpeaker.webp" class="speaker-image" />
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="row flex-column flex-lg-row text-center text-lg-start content align-items-center" data-aos="fade-up"
          id="Abdullateef">
          <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/speakers/second.webp" class="speaker-image" />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 center">
            <p style="font-size: 24px;">
              Eng. Abdullateef is a Senior Vice President of IEEE Smart Village and Currently Chairs the IEEE Region 8
              Students Activities Committee as Vice Chair of Student Activities. </p>
            <p style="font-size: 24px;">
              He received his Bachelor’s degree from Bayero University Kano (BUK) and a Master’s in ICT from the
              Northern University of Malaysia with Honors. </p>
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="row flex-column-reverse flex-lg-row text-center text-lg-start content align-items-center"
          data-aos="fade-up" id="Mohamed_Amin">
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p style="font-size: 24px;">
              ENG. Mohamed is the Head of Digital Transformation - MEA, Nokia, IEEE R8 Careers Ad Hoc committee chair,
              IEEE R8, IEEE Industry Engagement committee member, IEEE.
            </p>
            <p style="font-size: 24px;">
              Mohamed Amin has 15+ years of experience in the telecommunication industry. His experience ranges from
              engineering to pre-sales, business development and sales with Alcatel-Lucent & Nokia in different roles
              covering Europe, Middle East & Africa region.
              Amin has received several awards in his professional career from Nokia & IEEE. He is also an active
              volunteer and IEEE member, serving currently as Industry Engagement committee member at IEEE and Careers
              Subcommittee Chair at IEEE R8 (EMEA)
              (CTA & outro)
            </p>
          </div>
          <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/speakers/Mohamed_Amin.webp" class="speaker-image" />
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="row flex-column flex-lg-row text-center text-lg-start content align-items-center" data-aos="fade-up"
          id="Khaldoun">
          <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/speakers/third.webp" class="speaker-image" />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p style="font-size: 24px;">
              Khaldoun Taktak is a Network and Telecommunication Engineering Student at the National Institute of
              Applied Sciences and Technology (INSAT).
            </p>
            <p style="font-size: 24px;">
              He serves as the chair of the IEEE Region 8 AdHoc committee on training and leadership support as part
              of
              IEEE Region 8 Student Activities Committee, as a student congress coordinator within the IEEE Tunisia
              Section and as a member in the IEEE SIGHT steering committee. Previously, he was chair of the IEEE
              Region
              8 Student and Young Professional Congress in 2022 which was held in Tunisia.
            </p>
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="row flex-column-reverse flex-lg-row text-center text-lg-start content align-items-center"
          data-aos="fade-up" id="Vildana">
          <div class="col-lg-6 pt-4 pt-lg-0 center">
            <p style="font-size: 24px;">
              Vildana is an entrepreneur with a big experience in Branding and Marketing. She is currently the Chief
              Marketing Officer of the Association FabLaB USK in Bosnia and Herzegovina.
            </p>
            <p style="font-size: 24px;">
              She was an active IEEE Volunteer in her Student Branch where she was Treasurer and Social Media Manager.
              She became part of the R8 SAC as an Outreach Coordinator and Electronic Communications Coordinator. </p>
          </div>
          <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/speakers/fourth.webp" class="speaker-image" />
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div
          class="row flex-column flex-lg-row text-center text-lg-start content align-items-center justify-content-between"
          data-aos="fade-up" id="Seif">
          <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/speakers/fifth.webp" class="speaker-image" />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p style="font-size: 24px;">
              Taking a look on young inspiring enthusiasts, we are delighted to announce our guest Eng. Seif El HAJJEM
              in IEEE R8 NASYP!
              Seif El HAJJEM, a Tunisian Industrial Engineer, completed his studies at ENIT, the National Engineering
              School of Tunis, in 2015. </p>
            <p style="font-size: 24px;">
              Presently, he serves as an SAP Functional Consultant at WYNSYS Tunisia, actively engaged in deploying
              SAP
              solutions across diverse industry sectors. Seif passionately volunteers for IEEE, where he has assumed
              leadership roles including Chair of IEEE ENIT Student Branch and Vice Chair Member Activities for IEEE
              Tunisia Section.
              Currently, he contributes to the IEEE Region 8 Young Professionals Subcommittee. </p>
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div
          class="row flex-column-reverse flex-lg-row text-center text-lg-start content align-items-center justify-content-between"
          data-aos="fade-up" id="HadyHabib">

          <div class="col-lg-6 pt-4 pt-lg-0">
            <p style="font-size: 24px;">
              Hady Habib Fayek received his Ph.D. degree in 2019 at the age of 29 years old, in Electrical Power
              Engineering, from Helwan University, Egypt including associated research with Texas A&M University, USA.
              He got his B.Sc. degree in 2011, and M.Sc. degree in 2014 from Helwan University.
            </p>
            <p style="font-size: 24px;">
              He works as a lecturer in the Energy Engineering Program, Faculty of Engineering, Heliopolis University.
              He is the chairman of the IEEE Industrial Electronics Egypt Chapter; he was the main organizer of many
              international conferences about smart cities and sustainable electrical engineering.

              He published more than 45 research papers about recent smart grids and 100% renewable energy advances in
              many international conferences and journals.

              Hady got many worldwide prizes such as the best paper award from the Trinex EU project, second place in
              the inter-chapter competition, third place in IEEE IES inter-student branches competition, and seventh
              world place in the IEEE standards competition with over 800 submissions.

            </p>
          </div>
          <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/speakers/hadyHabib.webp" class="speaker-image" />
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
        <div
          class="row flex-column flex-lg-row text-center text-lg-start content align-items-center justify-content-between"
          data-aos="fade-up" id="SamarthDeo">
          <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/speakers/samarthDeo.webp" class="speaker-image" />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p style="font-size: 24px;">
              Samarth Deo graduated in 2014 from KTH Royal Institute of Technology, Stockholm, Sweden, after that he
              joined ABB AB as an R&D Software Engineer.

            </p>
            <p style="font-size: 24px;">
              In 2018, he stepped into his first management role as the R&D Manager for the Firmware & SDK team. In his
              current role since 2022, Samarth leads six R&D teams (about 100 engineers) in the development and
              maintenance of the state-of-the-art control platform- MACH (Modular Advance Control for HVDC, also
              referred to as the brain of HVDC transmission systems). The control system is used in all HVDC and FACTS
              deliveries around the world.
              On the IEEE front, Samarth has served in several IEEE leadership positions, including Chair of the EPICS
              in the IEEE committee and Chair of the IEEE Sweden Section, among others.
              He has won numerous awards, including the IEEE Region 8 Exceptional Young Professionals Award in the past.
              He was appointed as the Chair of the AdHoc on EPICS in IEEE within Region 8 this year.

            </p>
          </div>

        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div
        class="row flex-column-reverse flex-lg-row text-center text-lg-start content align-items-center justify-content-between"
        data-aos="fade-up" id="EricBerkowitz">

        <div class="col-lg-6 pt-4 pt-lg-0">
          <p style="font-size: 24px;">
            Eric Berkowitz is a dedicated and accomplished association executive with a passion for working with students and young professionals. With 26 years of experience in membership development and engagement, he has played a pivotal role in the growth and success of the IEEE Computer Society around the world.
          </p>
          <p style="font-size: 24px;">
            As the Director of Membership and Education, he oversees all aspects of the association's membership operations, chapters, student and young professionals, and education programming, working closely with the membership and education boards to develop and implement strategic initiatives.

Eric brings extensive leadership experience to the IEEE Computer Society, promoting collaboration, community, and professional development among members.
          </p>
        </div>
        <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
          <img src="/img/speakers/EricBerkowitz.webp" class="speaker-image" />
        </div>
      </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div
          class="row flex-column flex-lg-row text-center text-lg-start content align-items-center justify-content-between"
          data-aos="fade-up" id="NevineAbdelkhalek">
          <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/speakers/NevineAbdelkhalek.webp" class="speaker-image" />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p style="font-size: 24px;">
              Dr. Nevine Abdelkhalek is a board member of Tea Computers, the Egyptian Businessmen Association, and CSR
              Egypt. She is the Dean of Nile University's School of Continuing Education and served as Vice President of
              Human Resources and Organization Development at Engineering Consultants Group.
            </p>
            <p style="font-size: 24px;">
              She founded the Excellence in Engineering Forum in 2010 and was one of four consultants to Egypt's Prime
              Minister in Education.
              She also holds charter manager status with the Charter Management Institute and a Ph.D. in human
              resources. She started her professional career in 1992 and led the organization of Egypt's Professional
              Academy for Teachers.
            </p>
          </div>

        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div
          class="row flex-column-reverse flex-lg-row text-center text-lg-start content align-items-center justify-content-between"
          data-aos="fade-up" id="HebaShaban">

          <div class="col-lg-6 pt-4 pt-lg-0">
            <p style="font-size: 24px;">
              Heba Shaban is Member of IEEE Educational Activities Board, Pre-University Education Coordination
              Committee (PECC).
            </p>
            <p style="font-size: 24px;">
              She is Professor of Wireless Communications with the Department of Electronics and Communications
              Engineering, College of Engineering and Technology at Arab Academy for Science, Technology & Maritime
              Transport (AASTMT), Abu Kir Campus, Alexandria, Egypt.
              She is a senior member IEEE, and an IEEE STEM champion since 2021. Currently serves as a member of the
              IEEE Educational Activities Board (IEEE-EAB) Pre-University Education Coordination Committee (PECC), and a
              member of IEEE Eta Kappa Nu (IEEE-HKN) Advisor Support Subcommittee. She also serves as the Educational
              Activities Officer of IEEE Egypt Section, and the founding faculty advisor of IEEE-HKN Mu Beta Chapter at
              Arab Academy for Science Technology and Maritime Transport (AASTMT), Alexandria.
            </p>
          </div>
          <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/speakers/Heba Shaban.webp" class="speaker-image" />
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div
          class="row flex-column flex-lg-row text-center text-lg-start content align-items-center justify-content-between"
          data-aos="fade-up" id="BassemTaher">
          <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/speakers/BassemTaher.webp" class="speaker-image" />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p style="font-size: 24px;">
              Bassem Taher is a seasoned Sr. Enterprise Solutions Architect at Amazon Web Services in The Netherlands
              with 15+ years of IT industry experience. He has held diverse roles, including technical support,
              technical advisor, and solutions architecture, contributing to his extensive skill set. Bassem's expertise
              spans Europe, the Middle East, and Africa, managing diverse projects and clientele. </p>
            <p style="font-size: 24px;">
              Currently, he works directly with major Enterprises and Public Organizations in Europe, providing robust
              and scalable solutions aligned with strategic objectives. </p>
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />


        <div
          class="row flex-column-reverse flex-lg-row text-center text-lg-start content align-items-center justify-content-between"
          data-aos="fade-up" id="Hatem">
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p style="font-size: 24px;">
              Mohamed Hatem Abdulkader is a Graduate of Nanotechnology and Nano-electronics Engineering with a
              Nano-devices / MEMS Design and Fabrication Concentration from the University of Science and Technology
              at Zewail City of Science, Technology and Innovation.
              Hatem had made valuable contributions to the Zewail City Community and IEEE Community. </p>
            <p style="font-size: 24px;">
              In IEEE, Hatem had been the youngest Egyptian to join the IEEE Region 8 Student Activities Committee in
              2021, the IEEE Egypt Section Student Representative 2020-2022, IEEE Egypt Section Student Activities
              Committee co-founder, IEEE SIGHT Egypt Treasurer 2021, and the IEEE Zewail City Student Branch Chair
              2018-2019; which nominated him to be selected the “IEEE Egypt Section Volunteer of the Year” held to him
              at the first–ever made IEEE Egyptian Students and Young Professionals Congress in 2022.
              He is now acting as the Vice-president of the Zewail City Alumni Association and previously Chaired the
              Student Organizations Council of Zewail City, lead the Zewail City official team to the Second World
              Rank of Minesweepers Internation Competition, and held a board seat in the Student Union. </p>
          </div>
          <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/speakers/Hatem.webp" class="speaker-image" />
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />

        <div
          class="row flex-column flex-lg-row text-center text-lg-start content align-items-center justify-content-between"
          data-aos="fade-up" id="NourSbaoulji">
          <div class="px-0 col-lg-6 d-flex justify-content-center align-items-center">
            <img src="/img/speakers/Nour-Sbaoulji.webp" class="speaker-image" />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p style="font-size: 24px;">
              Eng. Nour Sbaoulji is a Tunisian software engineering student at the Private Higher School of
              Engineering and Technology (ESPRIT).
            </p>
            <p style="font-size: 24px;">
              Her journey in the field of technology has been marked by remarkable achievements and contributions to
              the IEEE community. As a former chairwoman and co-founder of the first SIGHT Student Branch Group (SBG)
              among the Tunisia Section, "IEEE ESPRIT SIGHT SBG," Nour demonstrated exceptional leadership skills and
              dedication to humanitarian activities.

              Currently serving as the advisor of the group and her student branch, she continues to inspire and guide
              fellow students toward making a positive impact on society.

              In recognition of her commitment to humanitarian efforts, Nour has also taken on the role of Treasurer
              of IEEE SIGHT Tunisia Section and is a member of the Region 8 Humanitarian Activities Committee.
            </p>
          </div>
        </div>


      </div>
      </div>
    </section><!-- End Speakers Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>IEEE Region 8 NASYP</h3>
      <p>IEEE R8 NASYP, or IEEE Region 8 North Africa Student and Young Professional Congress, gathers all IEEE members
        from various North African nationalities to celebrate the various cultures and shine a light on the differences
        over the course of four days.</p>
      <div class="social-links">
        <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
        <a href="https://www.facebook.com/IEEER8NASYP/" class="facebook"><i class="bx bxl-facebook"></i></a>
        <!-- <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
      </div>
      <div class="credits">
        <a href="mailto: info.nasyp@ieee.org.eg">info.nasyp@ieee.org.eg</a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>IEEE YP Egypt section</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>