@font-face {
    font-family: poppins;
    src: url('/fonts/poppins/Poppins-Regular.ttf');
}

* {
    font-family: poppins;
    transition: .5s all;
}

.badge {
    padding: .5em;
}

body {
    overflow-x: hidden;
}

/* Top header */
.top-header {
    text-align: right;
    border-bottom: 1px solid rgb(153, 153, 153);
    padding: 5px 0;
}

/* Main header */
.bg {
    height: 20vh;
    background-image: url(../imgs/header.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Menu header */
.header-menu {
    background: #FFA827;
    background: linear-gradient(90deg, #FFA827 0%, #eb9310 23%, #b06f0d 100%);
    text-align: center;
}

.header-menu .links .link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
}

.header-other .header-new {
    background: #FFA827;
    background: linear-gradient(144deg, #ffffff97 0%, #d88912cf 23%, #040404d8 100%);
}

.header-new {
    background: #FFA827;
    background: linear-gradient(144deg, #ffffff97 0%, #d8891291 23%, #040404d8 100%);
    position: relative;
    z-index: 6;
    padding: 10px 40px;
}

.header-new .links-cont {
    text-align: right;
    padding: 40px 0px 40px 0px;
    z-index: 1001;
}

.header-new .links-cont .links {
    padding: 0px 20px;
}

.dropdown-menu.header-drop-links{
    background-color: #222 !important;
    color: #eb9310;
}

.dropdown-menu.header-drop-links .dropdown-item{
    color: #ffc107;
}
.dropdown-menu.header-drop-links .dropdown-item:focus, .dropdown-menu.header-drop-links .dropdown-item:hover{
    background-color: rgb(67, 67, 67);
}
.rel-1{
    position: relative;
    z-index: -1;
}
.header-new .brand img {
    width: 8em;
}

.header-new .links .link {
    display: inline-block;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 10px;
}

.header-new .links .btn-ieee {
    font-size: .9em;
    font-weight: normal;
    color: #FFA827;
    background: #fff;
}

.header-new .links .btn-ieee:hover {
    font-size: .9em;
    font-weight: normal;
    color: #FFF;
    background: #FFA827;
}

.header-new .to-links .to-links-box {
    padding: 10px 16px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #FFA827;
    font-size: 1.2em;
    background-color: #fff;
    display: inline-block;
    cursor: pointer;
}

.carousel-item {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-inner{
    overflow: auto;
}
.text-header-new {
    padding: 10vh 50px 0 50px;
    color: #fff;
}

.text-header-new .text-header {
    font-weight: bold;
    font-size: 3em;
    width: 100%;
    display: inline-block;
}

.text-content {
    font-size: 1.2em;
}

.hvr-overline-from-center:before {
    background-color: #fff !important;
}

.fixed-menu {
    padding: 5vh 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(144deg, #FFA827 0%, #d88912 23%, #e69010 100%);
    z-index: 10;
    display: none;
    overflow-y: auto;
}

.fixed-menu .fixed-links {
    text-align: center;
}

.fixed-menu .fixed-links a {
    display: block;
    color: #fff;
    padding: 2vh 0;
}

.fixed-links .btn-ieee {
    color: #6C4009;
    margin: 20px 0;
    background: #fff;

}

.fixed-links .btn-ieee:hover {
    color: #fff;
    margin: 20px 0;
    background: #6C4009;

}

.fixed-links a:hover {
    text-decoration: none;
}

.fixed-links .close {
    color: #fff;
    padding: 2vh 0;
    float: none;
}

/* 
    Announcement
*/
.announcement {
    padding: 12vh 0 0 0;
}

.announcement .blurred-bg {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    position: relative;
}

.announcement a.btn-submit-paper {
    position: relative;
    color: #ffc107;
    text-decoration: none;
    font-size: 1em;
    display: inline-block;
    font-family: Montserrat;
    text-transform: uppercase;
    padding: 0.5em 2em;
    border: 2px solid #ffc107;
    transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
    margin-bottom: 5px;
}

.announcement a.btn-submit-paper::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ffc107;
    transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s cubic-bezier(0.1, 0, 0.1, 1);
    z-index: -1;
}

.announcement a.btn-submit-paper::after {
    content: "";
    display: inline-block;
    background-image: url("https://cdn-icons-png.flaticon.com/128/109/109617.png");
    position: absolute;
    top: 0;
    left: calc(100% - 3em);
    right: 3em;
    bottom: 0;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}

.announcement a.btn-submit-paper:hover {
    padding: 0.5em 3.5em 0.5em 0.5em;
}

.announcement a.btn-submit-paper:hover::before {
    left: calc(100% - 3em);
    right: 0;
    transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1), left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}

.announcement a.btn-submit-paper:hover::after {
    right: 0;
    transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}

.announcement h6 {
    color: #aaa;
}
/* Main section */


.main-sec .container {
    width: 105vh;
    background: rgb(0 0 0 / 18%);
    border-radius: 5px;
    padding: 20px;
}

.main-sec {
    margin: 20px 0;
    padding: 30px 0;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 24%;
    width: 55%;
}

/*Carousel update*/
.header-body {
    display: flex;
    position: relative;
    z-index: 5;
    min-height: 100vh;
}

.header-other .header-body {
    min-height: 20vh;
    margin-bottom: 50px;
}


.main-sec span {
    display: inline-block;
    padding: 10px 0;
}

.sec-body span {
    animation: type 8s infinite;
    animation-delay: 3s;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
}

@keyframes type {
    from {
        width: 0;
    }

    to {
        width: 700px;
    }
}

.main-sec .sec-body .text-header {
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.main-sec .sec-body .text-content {
    color: #000000;
}

.main-sec .event-img img {
    width: 100%;
    border-radius: 20px;
}

.main-sec .rm {
    padding: 20px 0;
}

.btn-ieee {
    background: #FFA827;
    background: linear-gradient(144deg, #FFA827 0%, #d88912 23%, #e69010 100%);
    border-radius: 30px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
}

/* Timeline */
.timeline_area.section_padding_130 .section_heading h3,
h3.title {
    font-weight: bold;
    padding: 10px 0 0px;
    margin-bottom: 40px;
    font-size: 2em;
    position: relative;
}

:is(h3.title, .timeline_area.section_padding_130 .section_heading h3)::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 5px;
    border-radius: 5px;
    height: 5px;
    width: 200px;
    z-index: -1;
    opacity: .8;
    background-color: #FFA827;
}

.timeline_area {
    position: relative;
    z-index: 1;
    margin: 80px 0;
}

.single-timeline-area {
    position: relative;
    z-index: 1;
    padding-left: 180px;
}

@media only screen and (max-width: 575px) {
    .announcement {
        padding: 0 0 10vh 0;
    }

    .single-timeline-area {
        padding-left: 100px;
    }

    .text-header-new .text-header {
        width: 100%;
    }

    .text-header-new {
        padding: 0vh 0 100px 10px;
        color: #fff;
    }

    .header-body {
        min-height: 113vh;
    }

    .header-other .header-body {
        height: auto;
    }
}

@media only screen and (max-width: 1315px ) and (min-width: 1200px) {
    .header-new .links-cont .links .link {
        font-size: .7em;
    }
}
@media only screen and (max-width: 992px) {
    .header-new .links-cont .links {
        display: none;
    }

    .header-new .links-cont .to-links {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .header-new .links-cont .to-links {
        display: none;
    }

    .header-new .links-cont .links {
        display: block;
    }
}

.single-timeline-area .timeline-date {
    position: absolute;
    width: 180px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 60px;
}

@media only screen and (max-width: 575px) {
    .single-timeline-area .timeline-date {
        width: 100px;
    }
}

.single-timeline-area .timeline-date::after {
    position: absolute;
    width: 3px;
    height: 100%;
    content: "";
    background-color: #ebebeb;
    top: 0;
    right: 30px;
    z-index: 1;
}

.single-timeline-area .timeline-date::before {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #FFA827;
    content: "";
    top: 50%;
    right: 26px;
    z-index: 5;
    margin-top: -5.5px;
}

.single-timeline-area .timeline-date p {
    margin-bottom: 0;
    color: #020710;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}

.single-timeline-area .single-timeline-content {
    position: relative;
    z-index: 1;
    padding: 30px 30px 25px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    border: 1px solid #ebebeb;
}

@media only screen and (max-width: 575px) {
    .single-timeline-area .single-timeline-content {
        padding: 20px;
    }
}

.single-timeline-area .single-timeline-content .timeline-icon {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 30px;
    height: 30px;
    background-color: #6C4009;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    text-align: center;
    max-width: 30px;
    border-radius: 50%;
    margin-right: 15px;
}

.single-timeline-area .single-timeline-content .timeline-icon i {
    color: #ffffff;
    line-height: 30px;
}

.single-timeline-area .single-timeline-content .timeline-text h6 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single-timeline-area .single-timeline-content .timeline-text p {
    font-size: 13px;
    margin-bottom: 0;
}

.single-timeline-area .single-timeline-content:hover .timeline-icon,
.single-timeline-area .single-timeline-content:focus .timeline-icon {
    background-color: #020710;
}

.single-timeline-area .single-timeline-content:hover .timeline-text h6,
.single-timeline-area .single-timeline-content:focus .timeline-text h6 {
    color: #6C4009;
}

/* About */
.about {
    position: relative;
    z-index: 4;
    background-color: transparent;
    background-color: #f6fbff;
    padding: 40px 0 120px;
}

.about * {
    position: relative;
    z-index: 2;
}

.about .box-float {
    top: 50px;
    right: 0px;
    height: 400px;
    width: 400px;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    position: absolute;
    background: #FFA827;
    background-image: linear-gradient(90deg, rgba(109, 64, 9, 0.9) 0%, rgba(255, 169, 39, 0.8) 80%, #FFA827 100%), url('../imgs/a.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
}

.about .content {
    background-color: #fff;
    padding: 50px;
    text-align: justify;
}

.about .rm-link {
    text-decoration: none;
}

/* Partners */
.partners {
    margin: 50px 0;
}

.partners .row {
    justify-content: center;
    text-align: center;
}

.partners img {
    padding: 20px 0;
    width: 40%;
}

.partners img.h {
    width: 30%;
}

.partners img.hs {
    width: 35%;
}

.partners img.w {
    margin-top: 20px;
    width: 45%;
}

/* .ieee-spons-cont{
    margin-bottom: 2em;
    padding-bottom: 40px;
}
.silv-spons-cont{
    margin-bottom: 2em;
    padding-bottom: 40px;
}
.bron-spons-cont{
    margin-bottom: 2em;
    padding-bottom: 40px;
}
.ieee-spon{
    position: relative;
}
.ieee-spon::after{
    content: "GOLD SPONSOR";
    color:#fff;
    position: absolute;
    padding: 10px;
    top:100%;
    left: 0;
    right: 0;
    height: auto;
    background: rgb(93,70,0);
    background: linear-gradient(148deg, rgba(93,70,0,1) 0%, rgba(255,166,0,1) 49%, rgba(101,72,0,1) 100%);
    clip-path: circle(50% at 50% 100%);
    font-size: 1em;
    font-weight: bold;


}
.silv-spon{
    position: relative;
}
.silv-spon::after{
    content: "SILVER SPONSOR";
    color:#222;
    position: absolute;
    padding: 10px;
    top:100%;
    left: 0;
    right: 0;
    height: auto;
    background: rgb(134,134,134);
    background: linear-gradient(148deg, rgba(134,134,134,1) 0%, rgba(231,231,231,1) 49%, rgba(134,134,134,1) 100%);
    clip-path: circle(50% at 50% 100%);
    font-size: 1em;
    font-weight: bold;


}
.bron-spon{
    position: relative;
}
.bron-spon::after{
    content: "BRONZE SPONSOR";
    color:#fff;
    position: absolute;
    padding: 10px;
    top:100%;
    left: 0;
    right: 0;
    height: auto;
    background: rgb(62,46,0);
    background: linear-gradient(148deg, rgba(62,46,0,1) 0%, rgba(145,104,0,1) 49%, rgba(75,54,0,1) 100%);
    clip-path: circle(50% at 50% 100%);
    font-size: 1em;
    font-weight: bold;


} */
/* Footer */
.footer {
    background: #FFA827;
    background: linear-gradient(90deg, #FFA827 0%, #eb9310 23%, #b06f0d 100%);
    text-align: center;
    padding: 10px 0;
}

.footer span {
    color: #fff;
    font-size: 0.8em;
}

.footer .links .link {
    padding: 10px 15px;
    color: rgb(36, 36, 36);
    text-decoration: none;
}

.footer .links .link:hover {
    color: rgb(124, 124, 124);
    text-decoration: underline;
}

/* 
----------------------- About Page --------------------------------
*/
.scope {
    padding: 50px 0;
}

.scope .s-box {
    background: #ffe8c5;
    background: linear-gradient(90deg, #ffe8c5 0%, #fbcd87 100%);
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0;
    min-height: 115px;
}

.scope .s-box:hover {
    background: #FFA827;
    background: linear-gradient(90deg, #FFA827 0%, #e88b00 50%, #b86f00 100%);
}

.scope .s-box .hash {
    width: 30px;
    height: 30px;
    text-align: center;
    background: rgb(238, 249, 255);
    padding: 3px;
    color: #222;
    border-radius: 50%;
}

.scope .s-box .hash-text {
    display: inline-block;
    text-align: center;
    background: rgb(238, 249, 255);
    padding: 7px 15px;
    color: #222;
    border-radius: 10px;
}

.scope .s-box .content {
    font-weight: bold;
    padding: 10px 20px;
    color: #222;
}

.scope .s-box:hover .content {
    color: #fff;
}

.sponsors {
    margin: 40px 0;
}

.sponsors .row {
    text-align: center;
}

.sponsors .img-box {
    padding: 20px;
}

.sponsors span {
    font-weight: bold;
    color: rgb(131, 131, 131);
}

.text-header-logo {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    border-left: 1px solid #222;
    margin-left: 10px;
    padding-left: 20px;
}

.brand {
    display: inline-block;
}

.header-logo {
    text-align: center;
}

.ieee {
    font-weight: bold;
}

.ieee,
.imas {
    font-size: 2em;
    margin: 0;
}

/*
    Venue
*/
.image_box {
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.image_box.box_right {
    margin-right: -100px;
    margin-left: 100px;
}

.image_box img {
    width: 100%;
}

.image_box.dom {
    position: absolute;
    top: 0;
    left: 10%;
    right: 20%;
    box-shadow: #727272bd 51px 5px 80px;
    min-height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.image_box.rec {
    position: absolute;
    top: 20vh;
    left: 50%;
    right: 0%;
    box-shadow: #727272bd 51px 5px 80px;
    background-repeat: no-repeat;
    min-height: 30vh;
    background-size: cover;
    z-index: 1;
}

.guc_img_rel,
.cairo_img_rel {
    position: relative;
    min-height: 60vh;
}

.image_box.dom.cairo {
    background-image: url(../imgs/country/cairo1.jpg);
    box-shadow: #727272bd -19px 20px 80px 6px;
    left: 5%;
    right: 28%;
    z-index: 1;
}

.image_box.rec.cairo {
    background-image: url(../imgs/country/cairo2.jpg);
    box-shadow: #727272bd -20px 20px 80px 16px;
    left: 40%;
    right: 5%;
}

.image_box.dom.guc {
    background-image: url('../imgs/country/guc2.jpeg');
}

.image_box.rec.guc {
    background-image: url('../imgs/country/guc1.jpeg');
}

.options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    width: calc(100% - 100px);
    height: 400px;
}

@media screen and (max-width: 718px) {
    .options {
        min-width: 520px;
    }

    .options .option:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width: 638px) {
    .options {
        min-width: 440px;
    }

    .options .option:nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 558px) {
    .options {
        min-width: 360px;
    }

    .options .option:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 478px) {
    .options {
        min-width: 280px;
    }

    .options .option:nth-child(2) {
        display: none;
    }
}

.options .option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    background: var(--optionBackground), #E6E9ED;
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 0px;
    border-radius: 40px;
    background-size: auto 100%;
}

.options .option.active .bg_shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

.options .option.active .label {
    bottom: 20px;
    left: 20px;
}

.options .option.active .label .info>div {
    left: 0px;
    opacity: 1;
}

.options .option:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
}

.options .option:not(.active) .bg_shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}

.options .option:not(.active) .label {
    bottom: 10px;
    left: 10px;
}

.options .option:not(.active) .label .info>div {
    left: 20px;
    opacity: 0;
}

.options .option .bg_shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: white;
    white-space: pre;
}

.options .option .label .info>div {
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

.options .option .label .info .main {
    font-weight: bold;
    font-size: 1.2rem;
}

.options .option .label .info .sub {
    transition-delay: 0.1s;
}

.note {
    margin: 1.5em;
    color: gray;
}

/* ------------------------------- Contact-Us 'start' ------------------------------------------- */
.contacts-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 25vh;
}

.contact {
    margin: 50px 50px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.15), -5px -5px 30px 7px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    transition: 0.4s;
    background: linear-gradient(144deg, #ffffff97 0%, #d88912cf 23%, #040404d8 100%);
}

.contact .contact_image {
    width: inherit;
    height: inherit;
    border-radius: 100px;
}

.contact .contact_image img {
    width: inherit;
    height: inherit;
    border-radius: 100px;
    object-fit: cover;
}

.contact .contact_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-weight: 400;
    font-size: 15px;
    margin-top: 6px;
}

.contact:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

/* ------------------------------- Contact-Us 'end' ------------------------------------------- */